{% extends "base_especialista_index.html" %}

{% load bootstrap %}

{% block page_title %} Avaliar código {% endblock %}

{% block main %}



{% if codigo %}

<a href={% url "programacao:especialista_index" %}>
<button type="button" class="btn btn-sm btn-info"><i class="fa fa-chevron-left fa-fw"></i> Voltar</button>
</a>
</br></br>

<div class="row">
    <div class="col-lg-12">
		<div class="alert alert-info">
          <b>Instruções:</b>
          <ul>
            <li> Observe a avaliação do código, utilize um dos seguintes botões
            <li> <button title='A nota gerada está correta' type="submit" class="btn btn-sm btn-success">Confirmar nota</button> Caso a nota gerada seja correta para o código.
            <li> <button title='A nota gerada NÃO é correta, é necessário salvar a nova nota' type="submit" class="btn btn-sm btn-danger">Salvar nova nota</button> Caso a nota gerada NÃO seja correta, dessa forma é necessário fornecer uma nova nota
          </ul>
		</div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Código: {{codigo.arquivo}}
            </div>
            
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
            <b>Enunciado do problema:</b> {{problema.enunciado|safe}}
            <b>Linguagem:</b> {{codigo.linguagem}}
			<!-- Source code -->
			<pre class="python">{{ source }}</pre>
			<a href="{{ codigo.get_abs_path }}" target="blank">
			<button type="button" class="btn btn-sm btn-primary">Download</button>
			</a><br><br>

                        <div class="form-group">
                            <form method="post">
                            {% csrf_token %}
                                {{ form|bootstrap }}
                                <button type="submit" class="btn btn-sm btn-success">Salvar</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <!-- /.panel-footer 
            <div class="panel-footer">
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endif %}

{% if avaliacao %}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Código: {{avaliacao.codigo.arquivo}}
            </div>
            
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
			<!-- Source code -->
			<pre class="python">{{ source }}</pre>
			<a href="{{ avaliacao.codigo.get_abs_path }}" target="blank">
			<button type="button" class="btn btn-sm btn-primary">Download</button>
			</a><br><br>
                        <div class="form-group">
                            <form method="post">
                            {% csrf_token %}
                                {{ form|bootstrap }}
                                <a href={% url "programacao:especialista_feedback_confirmar_avaliacao" avaliacao.id %}>
                                <button title='A nota gerada está correta' type="submit" class="btn btn-sm btn-success">Confirmar feedback</button>
                                </a>
                                <!--<a href={% url "programacao:especialista_confirmar_nova_avaliacao" 
                                avaliacao.id %}>-->
                                <a href={% url "programacao:especialista_feedback_confirmar_avaliacao" avaliacao.id %}>
                                <button title='A nota gerada NÃO é correta, é necessário salvar a nova nota' type="submit" class="btn btn-sm btn-danger">Salvar novo feedback</button>
                                </a>
                            </form>
                        </div>
                    </div>
                    <!-- /.col-lg-12 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
            <!-- /.panel-footer 
            <div class="panel-footer">
            </div> 
            <!-- /.panel-footer -->
        </div>
        <!-- /.panel -->
        
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<a href={% url "programacao:especialista_index" %}>
<button type="button" class="btn btn-sm btn-info"><i class="fa fa-chevron-left fa-fw"></i> Voltar</button>
</a>
</br></br>

{% endif %}

{% endblock %}

